

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
      /* Location of the image */
      background-image: url(https://raw.githubusercontent.com/vchandev/Aeris-Flower-Shop/master/img/aerith_wallpaper.jpg);
      
      /* Background image is centered vertically and horizontally at all times */
      background-position: center center;
      
      /* Background image doesn't tile */
      background-repeat: no-repeat;
      
      /* Background image is fixed in the viewport so that it doesn't move when 
         the content's height is greater than the image's height */
      background-attachment: fixed;
      
      /* This is what makes the background image rescale based
         on the container's size */
      background-size: cover;
      
      /* Set a background color that will be displayed
         while the background image is loading */
      background-color: #FFFFFF;
    }

    p {
       color: #FFFFFF;
    }

   #music_player {
      text-align: right;
      vertical-align: top;
      padding: 10px 10px 10px 10px;
   }

   footer {
      text-align: center;
      position:absolute;
      bottom:0;
      width:100%;
      height:50px;
  }
















